---
import Header from './Header.astro'
const {heroHeaderText} = Astro.props
---

<Header class="header hero-header" id="hero_header">
    <h1 class="text-6xl primary-text-color">
        <slot />
    </h1>
</Header>