---
import Section from './Section.astro'
import HeroHeader from './HeroHeader.astro'

const {heroParagraphText} = Astro.props
---

<Section class="home-hero h-screen w-screen relative" id="home_hero">
    <div class="absolute inset-0 bg-black/40 z-10"></div>
    <img src="/public/images/hero/home_hero_bg.jpg" class="h-full w-full object-cover absolute inset-0 z-0"/>

    <div class="text-center z-50 absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]">
        <HeroHeader>
            <span class="secondary-text-color">Supa</span>Meals
        </HeroHeader>

        <p class="text-xl my-3 primary-text-color">{heroParagraphText}</p>
        
        <slot />
    </div>
</Section>